* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Fredoka', sans-serif;
}

.Main-title {
    color: #E53170;
    font-weight: 700;
    text-align: center;
    padding: 35px;
}

.main-description {
    text-align: center;
    font-weight: 300;
    margin-bottom: 40px;
}

.container {
    width: 1000px;
    margin: auto;
    border: 2px solid red;

}

.container::after,.profile-col-bgd::after {
    content: "";
    display: table;
    clear: both;
}


.profile-col-bgd{
    margin: 0 30px 40px 0;
    width: 30.3%;
    float: left;
    background-color: black;
    box-shadow: 5px 5px 5px #dedede,
        -5px -5px 5px #dedede,
        5px -5px 5px #dedede,
        -5px 5px 5px #dedede;
}

.profile-pic {
    height: 80px;
    line-height: 80px;
    float: left;

}

.profile-name{
    padding: 10px 0 0 90px;
    color: white;
}
.profile-job{
    padding-left: 90px;
    color: white;
}
.profile-email{
    padding-left: 10px;
    text-decoration: none;
    color: #4AC3EC;
    font-size: small;
}