* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Fredoka', sans-serif;
}

.Main-title { 
    color: #E53170;
    font-weight: 700;
    text-align: center;
    padding: 35px;
}

.main-description {
    text-align: center;
    font-weight: 300;
    margin-bottom: 40px;
}

.container {
    width: 1000px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


.profile-col-bgd{
    height: 80px;
    line-height: 20px;
    margin: 0 30px 40px 0;
    width: 31.2%;
    float: left;
    background-color: black;
    box-shadow: 5px 5px 5px #dedede,
        -5px -5px 5px #dedede,
        5px -5px 5px #dedede,
        -5px 5px 5px #dedede;
}
.profile-col-bgd:nth-child(4), .profile-col-bgd:last-child{
    margin: 0 0 40px 0;
}

.profile-pic {
    height: 80px;
    float: left;
}

.profile-name{
    font-size: 16px;
    padding: 10px 0 0 90px;
    color: white;
}
.profile-job{
    font-size: 13px;
    padding-left: 90px;
    color: white;
}
.profile-email{
    padding-left: 10px;
    text-decoration: none;
    color: #4AC3EC;
    font-size: small;
}